
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Lato:ital,wght@1,300&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed&display=swap');

*{
    box-sizing: border-box;
    /* overflow-x: hidden; */
} 


@media (min-width: 0px){
body {
    background-color: #0b0a0a;
    padding-top: 0px;
    padding-left: 17rem;
    /* box-sizing: border-box; */

}}
body{
    /* background-color: black;  */
    color: white;
    font-family: "Open Sans", serif;
    padding-top: 54px;
    color: #f4f5f6;
}
 .container{
    /* width: 100%;
    display: flex;
    position: fixed;
    left: 330px;
    top: 40px;
    padding: 0!important; */

    padding: 41px;
    margin: -7px;
    margin-top: -83px;
} 
h1 {
    font-size: 4rem;
    line-height: 7.5rem;
    margin-top:0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Saira Extra Condensed", serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ebf707;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.mb-6{
    margin-top: 70px;
}
.text-primary {
    color: #ffffff !important;
}
.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Saira Extra Condensed", serif;
    font-size: 1.35rem;
}
a{
    color: #ebf707;
    text-decoration: none;
}
.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Saira Extra Condensed", serif;
    font-size: 1.35rem;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
a.nav-link{
    text-decoration: none;
}
#sidenav
 {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
    background-color: #f3f624!important;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
}

.navbar .profile .img-profile {
    margin-top: 22px;
    border-radius: 50%;
}


.navbar-collapse{
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
    text-decoration: none;
flex-basis: auto;
}
.navbar-ul{
    text-decoration: none;

    display: flex;
   flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 226px;
    right: 25px;

}
.nav-item{
  margin-top: 30px;
  text-decoration: none;
    }

.resume{
    display: flex;
    
}
.socialicons{
    border-radius: 50%;
    display: contents;
}
.fa-facebook {  
    background: #3B5998;  
    color: white;  
  }  
  .fa-twitter {  
    background: #55ACEE;  
    color: white;  
  }  
  .fa-linkedin {  
    background: #007bb5;  
    color: white;  
  }  
  .fa-instagram {  
    background: #f215eb;  
    color: white;  
  }  
  .fa-youtube {  
    background: #bb0000;  
    color: white;  
  }  
  .fa-github {  
    background: #3b3a3a;  
    color: white;  
  } 
  .fa {  
    padding: 20px;  
  text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
    border-radius: 50%;
    display: contents;
  } 
  #education{
    margin-top: 62px;
  }
  .list-icons {
    font-size: 3rem;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    display: inline-flex;
    margin-top: 38px;
}
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.list-inline-item {
    display: inline-block;
}
.list-inline-item:not(:last-child) {
    margin-right: 35px;
}
.linit{
    padding-left: 0;
    margin-left: 0.142857em;
    list-style-type: none;
}
/* .fa-check{ */
    /* position: relative;
    top: 10px;
    left: 1px;
}
.front{
    position: relative;
} */
/* .img1{
    position: relative;
    height: 30px;
    width: 20px;
} */
/* 
.imgsize .img1{
    position: absolute;
    height: 30px;
    width: 40px;
} */